body {
  margin: 0;
}
.outer {
  height: 100vh;
  overflow: auto;
}
.inner {
  width: 45%;
  margin: auto;
  margin-top: 93px;
}
.casaName {
  margin-bottom: 11px;
  margin-left: 12px;
  height: 17px;
}
.casaLogo {
  height: 40px;
}

.casaDivider {
    border-top: 1px solid rgb(218, 218, 218);
    width: 70%;
    margin: inherit;
    margin-top: 16px;
}

.casaMonkey {
    float: right;
    margin-top: -5rem;
}

.releaseHeading {
font-size: 44px;
line-height: 52px;
color: #4B286D;
font-family: system-ui;
font-weight: 200;
}